<ul class="navbar-nav px-2 sidebar">
	<a href="/pro" class="side-hero">
		<h5 class="d-inline mb-0">
			<i class="fa fa-users"></i>
		</h5>
		<span>Complaint PRO</span>
	</a>

	<hr>

	<li class="nav-item">
		<a href="/pro" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Dashbaord</span>
		</a>
	</li>

	<hr>

	<li class="nav-item">
		<a href="/departmental-complaints" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>View Complaints</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/logout-pro" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Logout</span>
		</a>
	</li>
</ul>