<main class="container-fluid h-100">
	<div class="row full-row">
		<aside class="col-lg-2 bg-dark p-0">
			<app-pro-sidebar></app-pro-sidebar>
		</aside>

		<div class="col-lg-10 bg-light p-4">
			<div class="row">
				<div class="container-fluid pt-4">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Matric</th>
								<th>Email</th>
								<th>Complain</th>
							</tr>
						</thead>

						<tbody>
							<tr *ngIf="complaints == null">
								<td colspan="5">No Record Found</td>
							</tr>

							<tr *ngFor="let complain of complaints; index as i">
								<td>{{i + 1}}</td>
								<td>{{complain.name}}</td>
								<td>{{complain.matric}}</td>
								<td>{{complain.email}}</td>
								<td>{{complain.message}}</td>
								<!-- <td><a routerLink="/view-complaint/{{complain.id}}" class="btn btn-danger">View</a></td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>