<main class="main">
	<div class="col-md-6 col-lg-4 center">
		<div class="card">
			<div class="card-header py-2 bg-dark">
				<h4 class="card-title text-white">Welcome Admin!</h4>
			</div>

			<form [formGroup]="loginForm" (ngSubmit)="processLogin(loginForm.value)">
				<div class="card-body">
					<div class="form-group">
						<label for="firstname">Email</label>
						<input type="email" name="email" class="form-control" placeholder="Email" formControlName="username" required>
					</div>

					<div class="form-group">
						<label>Type</label>
						<select class="form-control" formControlName="type">
							<option value=""></option>
							<option value="pro">PRO</option>
							<option value="manager">Program Manager</option>
						</select>
					</div>

					<div class="form-group">
						<label for="firstname">Password</label>
						<input type="password" name="password" class="form-control" placeholder="Password" formControlName="password" required>
					</div>
				</div>

				<div class="card-footer py-2">
					<button class="btn btn-dark px-5">Login</button>
				</div>
			</form>
		</div>
	</div>
</main>