<ul class="navbar-nav px-2 sidebar">
	<a href="/admin" class="side-hero">
		<h5 class="d-inline">
			<i class="fa fa-users"></i>
		</h5>

		<span>Complaint System</span>
	</a>

	<hr>

	<li class="nav-item">
		<a href="/admin" class="nav-link">
			<i class="fa fa-user"></i> 
				<span>Dashbaord</span>
		</a>
	</li>

	<hr>

	<li class="nav-item">
		<a href="/search-complaint" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Seacrh Complaints</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/new-admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Add Admin</span>
		</a>
	</li>

	<li class="nav-item">
		<a routerLink="/admins" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>View Admins</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/logout-admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Logout</span>
		</a>
	</li>
</ul>