<ul class="navbar-nav px-2 sidebar">
	<a href="/profile" class="side-hero">
		<h5 class="d-inline">
			<i class="fa fa-users"></i>
		</h5>

		<span>Complaint System</span>
	</a>

	<hr>

	<li class="nav-item">
		<a href="/profile" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Dashbaord</span>
		</a>
	</li>

	<hr>

	<li class="nav-item d-none">
		<a href="/edit-profile" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Edit Profile</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/logout" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Logout</span>
		</a>
	</li>
</ul>